

<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <%= pin.user.name if pin.user %>

        <% if current_user && pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Destroy
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
            <center>
              <ul class="share-buttons">
                <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftaargus.com%2F&t=" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="http://i.imgur.com/bfMeeWZ.png">

                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ftaargustaargus.herokuapp.com%2F&text=:%20http%3A%2F%2Ftaargus.com%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="http://i.imgur.com/wAoQrZ4.png">
                  </a>
                </li>
                <li>
                  <a href="http://www.reddit.com/submit?url=http%3A%2F%2Ftaargus.com%2F&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="http://i.imgur.com/jeQYksM.png">
                  </a>
                </li>
              </ul>
            </center>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>





<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56235051-1', 'auto');
  ga('send', 'pageview');

</script>